body {
    font-family: arial, helvetica, sans-serif;
    background-color:#add8e6;
    color:maroon;
    padding: 5px;
     }
h1 {
    border: 5px solid orange;
    }
nav {
    border: 5px solid blue;
    }
img {
    border: 10px solid green;
    }
figure {width: 30%; margin: auto; padding-top: 1vw; padding-bottom: 1vw;}
/*figcaption {font-style: italic; font-size: smaller;}*/
img.photo {max-width:1000px; width:100%}

/*iframe {frameborder: 0; style: border: none; width: 100%; height: 780px;}*/
